*{
    border: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --transition-default: all .4s ease-in-out;
}

body{
    background-color: var(--color-primary);
    font-family: 'Roboto Mono', monospace;
    color: var(--color-white);
    transition: var(--transition-default);
}

a{
    display: inline-block;
    color: var(--color-white);
    font-style: inherit;
    text-decoration: none;
}

.nav-link{
    color: var(--color-grey-2);
    font-style: inherit;
    text-decoration:none;
}

a:hover{
    color: var(--color-white);
}
.nav-link:hover{
    color: var(--color-white);
}

#home{
    min-height:100vh;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#about{
    background-color: var(--color-white);
    color:var(--color-primary);
    min-height: 100vh;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.img1{
    width: 75px;
    height: 75px;
    object-fit:cover;
}

.imgSelf{
    width: 250px;
    height: 250px;
    object-fit: cover;
    image-rendering: crisp-edges;
    clip-path: circle(50%);
}

h5{
    padding-top: 20px;
    text-align: center;
    padding: 2rem;
    color: var(--color-primary);
}

.section{
    transform: translateY(-100%) scale(0);
    transition: var(--transition-default);
    background-color: var(--color-primary);
}

.sec1{
    transform: translateY(0) scale(1);
    display: none;
}

.sec2{
    transform: translateY(0) scale(1);
    display: none;
}

.sec3{
    transform: translateY(0) scale(1);
    display: none;
}

.controls{
    position:fixed;
    display: flex;
    flex-direction: column;
    right:3%;
    z-index: 10;
    top:50%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
}

.active-btn{
    background-color: var(--color-secondary)!important;
    transition: var(--transition-default);
}

.active-btn i{
    color: var(--color-white);
}

.control{
    padding:1rem;
    cursor: pointer;
    background-color: var(--color-grey-4);
    width:40px;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: .7rem 0;
}

.control i{
    font-size: 1.2rem;
    color: var(--color-grey-2);
    pointer-events: none;
}
